:root {
  --clr-bg: hsl(348, 100%, 7%);
  --clr-body-text: hsl(352, 43%, 93%);
}

html {
  background-color: var(--clr-bg);
  color: var(--clr-body-text);
}

html,
body,
#root,
.App {
  height: 100%;
}
